@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background-color: #27292e;
  font-family: 'Roboto', sans-serif;
  color: #C2C2C4;
}

.container {
  display: block;
  width: 60%;
  margin-left: 20vw;
}

.App-header {
  margin-bottom: 10vh;
}

.App-content {
  margin-right: auto;
  margin-left: auto;
}

h1 {
  text-align: center;
}

.map-container {
  margin-bottom: 10vh;
}

.stream-container {
  margin-bottom: 10vh;
}
