@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background-color: #101114;
  font-family: 'Roboto', sans-serif;
  color: #C2C2C4;
}

.map-container {
  justify-content: center;
  align-items: center;
}

.container {
  
}


